.header__receptie {
    padding: 8px 16px;
    background-color: #EF2028;
    color: #ffffff;
}
.header__logo {
    background-image: url("https://avdveen.nl/img/header-logo.png");
    background-color: #fff;
    height: 148px;
  }
.header {
    padding: 8px 16px;
    background-color: #1D3557;
    color: #ffffff;
}
.headerD {
    padding: 8px 16px;
    background-color: teal;
    color: #FFFFFF;
}
.headerFR {
    padding: 8px 16px;
    background-color: lightblue;
    color: #222222;
}

.logo-holder {
    padding: 8px 16px;
    margin-bottom: 16px;
}
.script-holder {
    min-height:100%;
    padding: 8px 16px;
}
.faq-holder {
    max-height:500px;
    padding: 8px 16px;
    overflow-y: auto;
}
.aside {
    min-height:100%
}
.faq-holder {
    padding: 8px 16px;
}
.tint-footer {
    font-size: 8pt;
    padding: 4px 16px; 
    color:white;
    background-color: #457B9D;
    text-align: center;    
}
.tint-footerD {
    font-size: 8pt;
    padding: 4px 16px; 
    background-color: teal;
    color: #FFFFFF;
    text-align: center;
}
.tint-footerFR {
    font-size: 8pt;
    padding: 4px 16px; 
    background-color: lightblue;
    color: #222222;
    text-align: center;
}
.image__search {
    width: 200px;
    padding:  32px 0;
  }
.actie-holder {
    padding: 8px 16px;
}
/* UTLITIES */

.b {
    border: 1px solid black;
}
.pad-tb {
    padding-top: 15px;
    padding-bottom: 15px;
}
.pad-t {
    padding-top:15px;
}
.pad-b {
    padding-bottom:15px;
}
.margin-tb {
    margin-top: 15px;
    margin-bottom:15px;
}
.mrgt-1{
    margin-top: 15px;
}
.frame-shadow {
    box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.30);
}
.bg-white {
    background-color: white;
}
/*  FLEX */
/* FLEX */
.flex {
    display: flex;
}
.flex-center {
    display:flex;
    justify-content: center;
}
.flex-between {
    display:flex;
    justify-content: space-between;
}
.flex-around {
    display:flex;
    justify-content: space-around;
}
.flex-between {
    display: flex;
    justify-content: space-between;
}
.flex-v-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }